<!-- Header with full-height image -->
<header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-left w3-text-white" style="padding:48px">
    <span class="w3-jumbo w3-hide-small">Proin magna lorem, lacinia sed.</span><br>
    <span class="w3-xxlarge w3-hide-large w3-hide-medium">Proin magna lorem, lacinia sed.</span><br>
    <span class="w3-large">Vestibulum urna magna, bibendum vitae diam vel, pulvinar dapibus diam.</span>
    <p>
      <%= link_to 'See our plans', plans_path, class: 'w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off' %>
    </p>
  </div>
</header>
