<div class="w3-container w3-light-grey" style="padding:128px 16px">

  <h3 class="w3-center">Subscribe to <%= @plan.name %> (<%= humanized_money_with_symbol(@plan.price) %>)</h3>

  <%= form_tag plan_subscriptions_path(@plan), id: "subscription-form" do %>

    <span class="subscription-errors"></span>

    <input type="text" size="20" data-stripe="number" class="w3-input w3-border" placeholder="Card Number"/>

    <input type="text" size="4" data-stripe="cvc" class="w3-input w3-border" placeholder="CVC"/>

    <label>
      <span>Expiration</span>
      <input type="text" size="6" data-stripe="exp-month" placeholder="Month"/>
      <input type="text" size="5" data-stripe="exp-year" placeholder="Year"/>
    </label>

    <hr>

    <button type="submit" class="w3-button w3-black">SUBSCRIBE</button>
  <% end %>
</div>